<!DOCTYPE html>
<html lang="en">
	
{% include head.html %}

<body data-spy="scroll" data-target=".scrollspy" data-target=".toc" data-offset="20">
	<div id="loading">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<div id="object"></div>
			</div>
		</div>
	</div>
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
	<!-- canvas-nest -->
	<script type="text/javascript" src="js/canvas-nest.min.js"></script>
</body>

<script>
	$('body').scrollspy({ target: '.scrollspy' })
	$('[data-spy="scroll"]').each(function () {
  		var $spy = $(this).scrollspy('refresh')
	})
</script>

<style>
body{
	position: relative;
}
</style>

<script>
	$("#loading").fadeOut("slow");
</script>
</html>
